{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center text-danger"> THONG KE DOANH THU</h1>


<div class="row">
    <div class="col-md-5 col-xs-12">
         <table class="table">
            <tr>
                <th>Ma SP</th>
                <th>Ten SP</th>
                <th>Doanh thu</th>
            </tr>
             {% for s in stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>
                    {% if s[2] %}
                    {{ "{:1,.1f}".format(s[2]) }} VND
                    {% else %}
                        0 VND
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
         </table>
    </div>
    <div class="col-md-5 col-xs-12">
        <form >
            <div class="form-group">
                <input type="text" class="form-control" name="kw" placeholder="Nhap tu khoa"/>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="from_date"/>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="to_date"/>
            </div>
            <input type="submit" value="Thong ke" class="btn btn-info"/>
        </form>

        <canvas id="productChartId"></canvas>
    </div>
</div>
<div class="row">
     <div class="col-md-5 col-xs-12">
         <table class="table">
             <tr>
                 <th>Thang</th>
                 <th>Doanh thu</th>
             </tr>
             {% for s in month_stats %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ "{:1,.1f}".format(s[1]) }} VND</td>
            </tr>
            {% endfor %}
         </table>
     </div>
    <div class="col-md-5 col-xs-12">
        <form>
            <div class="form-group">
                <input type="number" min="1" max="12" class="form-control" name="month" placeholder="Nhap nam..." />
            </div>
            <input type="submit" value="Thong ke" class="btn btn-danger"/>
        </form>
        <canvas id=productMonthChartId></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels=[], info= [], colors = [], borderColors = []
    let labels1=[], info1= [], colors1 = [], borderColors1 = []
    let r, g, b;

    {% for  s in stats %}
    {% if s[2] %}
        labels.push('{{ s[1] }}')
        info.push({{ s[2] }})
        r = Math.random()*255
        g = Math.random()*255
        b = Math.random()*255

        colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
        borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endif %}
    {% endfor %}

    {% for  s in month_stats %}
        labels1.push('{{ s[0] }}')
        info1.push({{ s[1] }})
        r = Math.random()*255
        g = Math.random()*255
        b = Math.random()*255

        colors1.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
        borderColors1.push(`rgba(${r}, ${g}, ${b}, 1)`)
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('productChartId').getContext('2d');
        const ctx1 = document.getElementById('productMonthChartId').getContext('2d');
        loadChart(ctx, labels, info, 'bar', colors, borderColors)
        loadChart(ctx1, labels1, info1, 'line', colors1, borderColors1)
    }

function loadChart(ctx, labels, info, type, colors, borderColors){
    const myChart = new Chart(ctx, {
        type: type,
        data: {
            labels: labels,
            datasets: [{
                label: 'Thong ke doanh thu',
                data: info,
                backgroundColor: colors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
</script>
{% endblock %}